<h1>This course based on Lab of Python for Data science and AI course on Coursera</h1>

In [2]:
print("Hello world")

Hello world

In [3]:
import sys

In [4]:
print(sys.version)

3.7.9 (default, Aug 31 2020, 12:42:55)
[GCC 7.3.0]

In [6]:
#convert number to string type
str(1.2)

'1.2'

In [8]:
#identify the type of value using type(value)

In [9]:
type(1.2)

float

In [10]:
type(1)

int

In [11]:
type(1.0)

float

In [12]:
type("hello")

str

In [13]:
type(True)

bool

In [14]:
type([1,2,3])

list

In [16]:
type(([1,2,3],["hello",1.0]))

tuple

In [17]:
bool(1)

True

In [18]:
25/6

4.166666666666667

In [19]:
int(25/6)

4

In [20]:
25//6

4

In [21]:
total= 20+22+23

In [22]:
type(total)

int

In [23]:
name="Dinh Van Nguyen"

In [24]:
print(name[1])

i

In [25]:
print(name)

Dinh Van Nguyen

In [26]:
length(name)

NameError: name 'length' is not defined

In [27]:
len(name)

15

In [28]:
print(name[-1])

n

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [35]:
name[0:4]

'Dinh'

In [36]:
name[5:8]

'Van'

In [37]:
name[::3]

'DhaNy'

In [38]:
name="Dinh Van Nguyen"

In [39]:
name+" is a data student"

'Dinh Van Nguyen is a data student'

In [40]:
print('Dinh Van Nguyen \n is a data student')

Dinh Van Nguyen
 is a data student

In [41]:
print('Dinh Van Nguyen \t is a data student')

Dinh Van Nguyen 	 is a data student

In [42]:
print('Dinh Van Nguyen \n\n is a data student')

Dinh Van Nguyen

 is a data student

In [43]:
print('Dinh Van Nguyen \ is a data student')

Dinh Van Nguyen \ is a data student

In [44]:
print('Dinh Van Nguyen \\ is a data student')

Dinh Van Nguyen \ is a data student

In [45]:
print(r'Dinh Van Nguyen \ is a data student')

Dinh Van Nguyen \ is a data student

In [46]:
name.upper()

'DINH VAN NGUYEN'

In [47]:
a='12'

In [48]:
b=12

In [49]:
a+b

TypeError: can only concatenate str (not "int") to str

In [50]:
b="12"

In [51]:
a+b

'1212'

In [52]:
name.find("nguyen")

-1

In [54]:
name.replace("Van Nguyen","Alex")

'Dinh Alex'

<h1>LIST</h1>

In [1]:
L=["hello",1.0,2]

In [2]:
L

['hello', 1.0, 2]

In [3]:
L[0]

'hello'

In [5]:
L.replace("hello", 3)

AttributeError: 'list' object has no attribute 'replace'

In [6]:
L[0]=3

In [7]:
L

[3, 1.0, 2]

<h2>To change the value in the list we use assign way not 'replace'</h2>

<h3>We can use append()/extend() to add more value and split() to separate Strings on a specific character</h3>

In [11]:
L[0].split()

['hello']

In [10]:
L[0]="hello"

In [13]:
"hello".split()

['hello']

In [14]:
L[0]="hello world"

In [15]:
L[0].split()

['hello', 'world']

In [19]:
'Dinh,Van,Nguyen'.split(',')

['Dinh', 'Van', 'Nguyen']

In [20]:
N=L

In [21]:
N

['hello world', 1.0, 2]

In [22]:
N==L

True

<h1>Dictionary</h1>

In [31]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict
#Basically, this is kind of assigning a definition for a key

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [24]:
Dict["key1"]

1

In [26]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [28]:
#Like a dictionary, you can search for a key
release_year_dict["Thriller"]

'1982'

In [30]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [32]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [35]:

release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [37]:
release_year_dict['Graduation']='2007'
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [38]:
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}