<h1>Set</h1>

In [1]:
# Create a set

set1 = {"Alex","Nguyen","1997","RnB","reading","culture"}
set1

{'1997', 'Alex', 'Nguyen', 'RnB', 'culture', 'reading'}

In [3]:
list_a=[12,'abc',[1,2,3]]

In [4]:
set_a = set(list_a)

TypeError: unhashable type: 'list'

<h3>List is not a hashable type in Python . Dictionary keys must be immutable types and list is a mutable type.</h3>

In [6]:
del(list_a[[1,2,3]])

TypeError: list indices must be integers or slices, not list

In [8]:
list_a[2] = "nic"

In [9]:
set_a=set(list_a)

In [10]:
set_a

{12, 'abc', 'nic'}

In [12]:
#add keys
set_a.add("Rnb")
set_a

{12, 'Rnb', 'abc', 'nic'}

In [16]:
#remove a key
set_a.remove("nic")
set_a

{12, 'Rnb', 'abc'}

In [17]:
12 in set_a

True

In [18]:
set_b={"day","city","country", 42}

In [27]:
set_b.add("Rnb")
set_b

{42, 'RnB', 'Rnb', 'city', 'country', 'day'}

In [28]:
#find intersection between set a and b
set_b.remove("RnB")
intersect= set_a & set_b
intersect

{'Rnb'}

In [30]:
#find differences between set a but not set b
set_a.difference(set_b)

{12, 'abc'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

In [31]:
set_b.difference(set_a)

{42, 'city', 'country', 'day'}

In [32]:
#union
set_c=set_a.union(set_b)
set_c

{12, 42, 'Rnb', 'abc', 'city', 'country', 'day'}

In [33]:
#check superset
set(set_a).issuperset(set_b)

False

In [34]:
set(set_b).issuperset(set_a)

False

In [35]:
set({"Rnb","city",42}).issuperset(set_b)

False

In [36]:
set({"Rnb","city",42}).issubset(set_b)

True

In [37]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

<h3>Sum of set is different from sum of list</h3>

<h1>Conditions</h1>

In [43]:
#this is assign value to key
a=5

In [40]:
a

5

In [44]:
#this is compare value of a to 6
a==6

False

In [45]:
a<6

True

In [46]:
#inequality
a!=6

True

In [47]:
#this also can be used to compare among strings
"Nguyen"=="Alex"

False

In [48]:
#is you compare character, it is transered to compare ASCII code
'a'>'A'

True

<h2>If Statement</h2>

In [49]:
name="nguyen dinh"
if name!="nguyen dinh":
    print("sorry, you are not my owner")
    
print("hello, welcome back! Alex")

hello, welcome back! Alex

In [50]:
name="nguyen hoc"

In [52]:
if name!="nguyen dinh":
    print("sorry, you are not my owner")
    
else: print("hello, welcome back! Alex")

sorry, you are not my owner

In [53]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [54]:
# Condition statement example

album_year = 1990

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
else: print("this album was not made in 1980 and 1989")

this album was not made in 1980 and 1989

In [55]:
album_rate={"Back in Black":8.5}
album_rate

{'Back in Black': 8.5}

In [60]:
if album_rate["Back in Black"]>8:
    print("This album is amazing!")

This album is amazing!

In [62]:
album_rate["Back in Black"]=7
if album_rate["Back in Black"]>8:
    print("This album is amazing!")
else: print('This album is ok')

This album is ok

In [66]:
album_year={"Back in Black":1997}
album_year

{'Back in Black': 1997}

In [67]:
if album_year["Back in Black"]>=1980:
    print("This album is released already!")

This album is released already!

<h1>LOOPS</h1>

In [68]:
# Use the range or list [0,1,2]

range(3)

range(0, 3)

In [73]:
year=[1997,1998,1999,2000,2001]
N=len(year)
for i in range(N):
    if year[i]>=2000:
        print(year[i])

2000
2001

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsForRange.gif" width="800" />

In [2]:
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [9]:
date=[1997,1998,1999,2000,2001]

In [10]:
for year in date:
    print(year)

1997
1998
1999
2000
2001

In [12]:
i=0
year=0
while(year!=1999):
    year=date[i]
    i+=1
    print(year)
print("it took",i," repetitions to get out of loop.")

1997
1998
1999
it took 3  repetitions to get out of loop.

In [13]:
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [14]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

In [15]:
for genre in Genres:
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [16]:
i

5

In [18]:
for i in Genres:
    print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [19]:
year =[1990,2016,2017,2018,1809]
for i in year:
    print(i)

1990
2016
2017
2018
1809

In [20]:
for i in year:
    if i>2000:
        print(i)

2016
2017
2018

In [51]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
for i in PlayListRatings:
    if i>6:
        print(i)
    else: break

10
9.5
10
8
7.5

In [53]:
squares=['orange', 'orange', 'purple', 'blue ', 'orange']

In [71]:
new_sqr=[]
for color in squares:
    if(color=='orange'):
        new_sqr.append(color)
    else: break
print(new_sqr)

['orange', 'orange']

In [2]:
squares=['orange', 'orange', 'purple', 'blue ', 'orange']

i=0
new_sqr=[]
color = squares[i]
while(color=='orange'):
    new_sqer].append(squares[i])
    i=i+1
print(new_sqr)

KeyboardInterrupt: